[submodule ".tmux"]
	path = .tmux
	url = git@github.com:lovebaihezi/.tmux
[submodule ".doom.d"]
	path = .doom.d
	url = git@github.com:lovebaihezi/.doom.d
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:lovebaihezi/nvim
[submodule ".config/elvish"]
	path = .config/elvish
	url = git@github.com:lovebaihezi/.elvish
